/* Общие стили */
body {
    margin: 0 auto;
    padding: 0;
    /* width: 1110px; */
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.3;
}
h1 {
    text-align: center;
}
p {
    text-align: center;
}
.clearfix::after {
    content: '';
    display: block;
    clear:   both;
}

/* Кнопки */
.btn {
    display: flex;
    justify-content: space-between;
    width: 180px;
    margin: 0 auto;
}
.btn__item {
    padding: 10px 20px;
}

/* Простой слайдер 2 */
.slide {
    /* width: 600px;
    height: 450px; */
    margin-left: 32px;
    margin-bottom: 16px;
    position: relative;
    /* border: 5px solid teal; */
    /* overflow: hidden; */
}

.slide img {
    width: 200px;
    height: 150px;
    /* position: absolute;
    top: 0;
    left: 0; */
    float: left;
    margin-right: 16px;
    transition: all ease 0.1s;
}

.active-img {
    outline: 5px solid teal;
}
